button {
	border: unset;
	background-color: $button-main-color;
	outline: none;
	transition: all 0.5s;

	&:hover {
		box-shadow: 0 0 0.625rem $button-main-color;
		cursor: pointer;
	}

	&:active, &:focus {
		border: unset;
		transform: translate(0);
	}
}
