@import './mixin/flex-mixin.scss', './mixin/map-ball-mixin.scss';
$black-color: #000;
$opacity-black-color: rgba(0, 0, 0, 0.1);
$main-color: #6caae4;
$white-color: #fff;

%regular-weight {
	font-weight: 400;
}

%hidden-content {
	display: none;
}

* {
	box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	width: 100vw;
}

body {
	/* Header container */
	
	@import './header-style/header.scss';

	/* Product container */
	@import './product-container/product-container.scss';

	/* Possibilities container */

	@import './possibilities-container/possibilities-container.scss';

	/* Revolution container */

	@import './revolution-container/revolution-container.scss';

	/* Video container */

	@import './video-container/video-container.scss';
}

/* Media */

@import './media.scss/media.scss';
