.product-container {
	@include flex($justify-content: center);
	
	padding-top: 7.625rem;

	& .container {
		@include flex($justify-content: space-between);
	}

	.product-description {
		@include flex($flex-direction: column, $justify-content: flex-start);
	
		padding: 0 2.4375rem 0 2.4375rem;
		position: relative;

		& > span:first-child {
			@include font($color: $black-color, $font-size: 3.5rem, $font-family: 'Lato');

			display: none;
			margin-top: 11.25rem;

			& > span {
				font-weight: 400;
			}
		}

		& h1 {
			@include font($font-size: 8.1vw, $font-weight: 500);

			margin-top: 2.5rem;
		}

		.nutrion {
			@include font($font-family: 'Lato', $font-size: 4.2vw, $font-weight: 400);

			margin-top: 1.125rem;
		}

		.positive-properties {
			@include flex($flex-direction: column);

			& .properties:first-child {
				margin-top: 3.4375rem;
			}

			& .properties:not(:first-child) {
				margin-top: 1.25rem;
			}

			.properties {
				@include flex;

				& img {
					@include sizes($width: 2.1875rem);
				}

				& span {
					@include font($font-size: 1.3125rem, $font-weight: 400);

					margin-left: 1.875rem;
				}
			}
		}

		.product-image {
			@include sizes($width: 30rem);

			margin-left: 4.875rem;
			margin-top: 3.5625rem;
		}

		.button-container {
			@include flex($align-items: center, $flex-direction: column);

			margin: 0 auto;
			margin-top: 3.75rem;
			width: 95%;

			.product-button {
				@include flex($justify-content: center);
				@include font($color: $white-color, $font-size: 2rem);
	
				background-color: $main-color;
				border-radius: 0.25rem;
				padding: 2.125rem;
				width: 95%;
				transition-duration: 0.5s;
	
				&:hover {
					color: $main-color;
					background-color: $white-color-3;
					box-shadow: 0 0 0.625rem $opacity-black-color;
				}
			}

			& span {
				@include font($font-size: 1.25rem, $font-weight: 500);

				margin-top: 1.125rem;
			}
		}
	}
}
