.product-container {
	@include flex($justify-content: center);
	
	padding-top: 7.625rem;

	& .container {
		@include flex($justify-content: space-between);
	}

	.product-description {
		@include flex($flex-direction: column, $justify-content: flex-start);
	
		padding: 0 2.1875rem 0 2.4375rem;
		position: relative;

		& > span:first-child {
			@extend %hidden-content;

			color: $black-color;
			font-size: 3.5rem;
			font-family: 'Lato', sans-serif;
			font-weight: bold;
			margin-top: 11.25rem;

			& > span {
				@extend %regular-weight;
			}
		}

		& h1 {
			font-family: 'Maven Pro', sans-serif;
			font-size: 8.1vw;
			font-weight: 500;
			margin-top: 2.5rem;
		}

		.nutrion {
			font-family: 'Lato', sans-serif;
			font-size: 4.2vw;
			font-weight: 400;
			margin-top: 1.125rem;
		}

		.positive-properties {
			@include flex($flex-direction: column);

			& .properties:first-child {
				margin-top: 3.4375rem;
			}

			& .properties:not(:first-child) {
				margin-top: 1.25rem;
			}

			.properties {
				@include flex;

				& img {
					height: auto;
					width: 2.1875rem;
				}

				& span {
					font-family: 'Maven Pro', sans-serif;
					font-size: 1.3125rem;
					font-weight: 400;
					margin-left: 1.875rem;
				}
			}
		}

		.product-image {
			height: auto;
			margin-left: 4.875rem;
			margin-top: 3.5625rem;
			width: 30rem;
		}

		.button-container {
			@include flex($align-items: center, $flex-direction: column);

			margin: 0 auto;
			margin-top: 3.75rem;
			width: 95%;

			.product-button {
				@include flex($justify-content: center);
	
				background-color: $main-color;
				border-radius: 0.25rem;
				color: $white-color;
				font-family: 'Maven Pro', sans-serif;
				font-size: 2rem;
				padding: 2.125rem;
				width: 95%;
				transition-duration: 0.5s;
	
				&:hover {
					color: $main-color;
					background-color: #f5f5f5;
					box-shadow: 0 0 0.625rem $opacity-black-color;
				}
			}

			& span {
				font-family: 'Maven Pro', sans-serif;
				font-size: 1.25rem;
				font-weight: 500;
				margin-top: 1.125rem;
			}
		}
	}
}
