* {
	box-sizing: border-box;
}

body, p, input {
	margin: 0;
}

body {
	@include flex($align-items: center, $justify-content: center);

	height: 100vh;
}

form, button {
	border-radius: 0.3125rem;
	color: $main-color;
	padding: 0.625rem;
}

.remember-me span, .gender span, .gender label:nth-child(2) {
	margin-right: 0.625rem;
}

.remember-me, .gender label {
	@include flex($align-items: center);
}


input {
	border: 0.0625rem solid $main-border-color;
	background: none;
	outline: none;
	padding: 0.1875rem 0.3125rem;
}

select {
	appearance: none;
	background: transparent;
	background-image: url('../../images/arrow-black-bottom.png');
	background-repeat: no-repeat;
	background-position: right 0.3125rem center;
	border: 1px solid $main-border-color;
	color: $select-color;
	cursor: pointer;
	padding: 0.1875rem 0.3125rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 6.25rem;
}
