.basket-container {
	cursor: pointer;
	position: relative;

	& img {
		@include sizes($width: 2.5rem);
	}

	.count {
		@include flex($align-items: center, $justify-content: center);
		@include font($color: $white-color, $font-size: 1.25rem);
		@include sizes($height: 1.6875rem, $width: 1.6875rem);
		@include position($position: absolute, $right: -29%, $top: -15%);
		
		background-color: $main-color;
		border-radius: 100%;
	}
}