.hamburger-menu {
	@include flex;

	position: relative;

	#menu {
		display: none;

		&:checked ~ .menu-button > span:nth-child(-n + 2) {
			margin-top: 0.75rem;
			transform: rotate(45deg);
		}
		
		&:checked ~ .menu-button > span:nth-child(3) {
			margin-top: 0.75rem;
			transform: rotate(-45deg);
		}

		&:checked ~ .menu-box {
			visibility: visible;
			left: 0;
		}
	}
	
	.menu-button {
		@include flex($align-items: center, $flex-direction: column);
		@include sizes($height: 1.75rem, $width: 2.25rem);

		cursor: pointer;
		z-index: 1;

		& span {
			@include sizes($height: 0.25rem, $width: 100%);

			background-color: $black-color-2;
			border-radius: 2px;
			position: absolute;
		}

		& span:nth-child(2) {
			margin-top: 0.75rem;
		}

		& span:nth-child(3) {
			margin-top: 1.5rem;
		}

		& span {
			transition-duration: 0.5s;
		}
	}
	
	.menu-box {
		@include flex($align-items: flex-start, $flex-direction: column);
		@include position($left: -100%, $position: fixed);

		background-color: $white-color;
		box-shadow: 0.125rem 0.125rem 0.25rem $opacity-black-color;
		height: 100%;
		margin-top: 4.8rem;
		transition-duration: 0.5s;

		.menu-item {
			@include font($font-size: 1.625rem);

			border-bottom: 0.125rem solid $opacity-black-color;
			padding: 1rem 2.1875rem;
			transition-duration: 0.5s;
			width: 100%;
			
			&:first-child {
				border-top: 0.25rem solid $white-color-2;
			}

			&:hover {
				background-color: $main-color;
			}
		}
	}
}