.hamburger-menu {
	display: flex;
	position: relative;

	#menu {
		@extend %hidden-content;

		&:checked ~ .menu-button > span:nth-child(-n + 2) {
			margin-top: 0.75rem;
			transform: rotate(45deg);
		}
		
		&:checked ~ .menu-button > span:nth-child(3) {
			margin-top: 0.75rem;
			transform: rotate(-45deg);
		}

		&:checked ~ .menu-box {
			visibility: visible;
			left: 0;
		}
	}
	
	.menu-button {
		@include flex($align-items: center, $flex-direction: column);

		cursor: pointer;
		height: 1.75rem;
		width: 2.25rem;
		z-index: 1;

		& span {
			background-color: #2d2d2f;
			border-radius: 2px;
			height: 0.25rem;
			position: absolute;
			width: 100%;
		}

		& span:nth-child(2) {
			margin-top: 0.75rem;
		}

		& span:nth-child(3) {
			margin-top: 1.5rem;
		}

		& span {
			transition-duration: 0.5s;
		}
	}
	
	.menu-box {
		@include flex($align-items: flex-start, $flex-direction: column);

		background-color: $white-color;
		box-shadow: 0.125rem 0.125rem 0.25rem $opacity-black-color;
		height: 100%;
		left: -100%;
		margin-top: 4.8rem;
		position: fixed;
		transition-duration: 0.5s;

		.menu-item {
			border-bottom: 0.125rem solid $opacity-black-color;
			color: $black-color;
			font-family: 'Maven Pro', sans-serif;
			font-size: 1.625rem;
			padding: 1rem 2.1875rem;
			transition-duration: 0.5s;
			width: 100%;
			
			&:first-child {
				border-top: 0.25rem solid #e6e6e6;
			}

			&:hover {
				background-color: $main-color;
			}
		}
	}
}