.header-button {
	display: none;
	margin-left: 4.4375rem;

	a {
		@include font($color: $white-color, $font-size: 1.5rem);

		background-color: $main-color;
		border-radius: 0.25rem;
		padding: 1.16rem 5.066rem;
		transition: all 0.5s;

		&:hover {
			color: $main-color;
			background-color: $white-color-3;
			box-shadow: 0 0 0.625rem $opacity-black-color;
		}
	}
}