.logo-container {
	@include flex($align-items: center);

	& img {
		height: auto;
		margin-right: 2.6875rem;
		width: 3.5625rem;
	}

	& span {
		color: $black-color;
		font-family: 'Maven Pro', sans-serif;
		font-size: 2rem;
		font-weight: 600;
	}

	& span:nth-child(3) {
		@extend %regular-weight;
	}
}