.menu-container {
	display: none;

	.normal-menu {
		@include font($color: $black-color, $font-size: 1.625rem);

		border-radius: 0.25rem;
		padding: 1.094rem 2.25rem;
		transition-duration: 0.5s;

		&:hover {
			background-color: $main-color;
		}

		&:last-child {
			margin-right: 1.6875rem;
		}
	}
}