.video-container {
	@include flex($flex-direction: column);
	
	.video {
		@include flex($align-items: flex-end, $flex-direction: column, $justify-content: flex-end);
		@include sizes($height: 26.75rem, $width: 100%);

		background-color: $grey-color-5;
		padding-bottom: 2.3125rem;
		padding-right: 2.625rem;

		& a img {
			@include sizes($width: 7.9375rem);
		}
	}

	.video-content {
		@include flex($flex-direction: column);

		padding: 4.25rem 2.1875rem 4.25rem 2.4375rem;
		width: 100%;
		
		h3 {
			@include font($color: $black-color-4, $font-size: 2.625rem, $font-weight: 400);

			margin-bottom: 3.5rem;
		}

		span {
			@include font($color: $grey-color-6, $font-family: 'Lato', $font-size: 1.4rem, $font-weight: 300);
		}

		.video-button {
			@include font($color: $white-color, $font-size: 1.3125rem);

			background-color: $main-color;
			border-radius: 0.25rem;
			letter-spacing: 0.0625rem;
			padding: 2.75rem;
			margin: 0 auto;
			margin-top: 3.25rem;
			text-align: center;
			width: 97%;
			transition-duration: 0.5s;

			&:hover {
				color: $main-color;
				background-color: $white-color-3;
				box-shadow: 0 0 0.625rem $opacity-black-color;
			}
		}
	}
}
