@import '../colors/colors.scss';
@import '../mixin/sizes.scss';
@import '../mixin/flex.scss';
@import '../mixin/position.scss';
@import '../mixin/style-for-menu-burger.scss';

* {
	box-sizing: border-box;
}

body, h1, p {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

label:focus, label:active {
	-webkit-tap-highlight-color: transparent;
}

.container {
	width: 100%;
	position: relative;
}

.wrapper {
	width: 100%;
}

/* Radio */

@import '../radio/radio.scss';

/* Contac form */

@import '../contact-form/contact-form.scss';

.opacity {
	@include sizes($height: 100%, $width: 100%);
	@include position($left: 0, $top: -100%, $position: absolute);

	background-color: rgba($color: #222, $alpha: 0);
	transition-duration: 0.5s;
	z-index: 0;
}

/* Menu box */

@import '../menu-box/menu-box.scss';

/* Header container */

@import '../header-container/header-contrainer.scss';

/* Introduction container */

.home {
	@include sizes($height: 4.25rem, $width: 100%);
}

@import '../introduction-container/introduction-container.scss';

/* Services container */

@import '../services-container/salon-background.scss';
@import '../services-container/text-services-container.scss';
@import '../services-container/services-container.scss';

/* Media */

@import '../media/media.scss';

