@import '../mixin/flex-mixin.scss', '../mixin/map-ball-mixin.scss', '../mixin/fonts-style-mixin.scss', '../mixin/sizes-style-mixin.scss', '../mixin/position-style-mixon.scss';
@import '../colors/colors.scss';

* {
	box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	width: 100vw;
}

body {
	/* Header container */
	
	@import '../header-style/header.scss';

	/* Product container */

	@import '../product-container/product-container.scss';

	/* Possibilities container */

	@import '../possibilities-container/possibilities-container.scss';

	/* Revolution container */

	@import '../revolution-container/revolution-container.scss';

	/* Video container */

	@import '../video-container/video-container.scss';

	/* Ingredients container */

	@import '../ingredients-container/ingredients-container.scss';

	/* Order container */

	@import '../order-container/order-container.scss';

	/* News container */

	@import '../news-container/news-container.scss';

	/* Pre footer container */

	@import '../pre-footer-container/pre-footer-container.scss';

	/* Footer container */

	@import '../footer-container/footer-container.scss';
}

/* Media */

@import '../media.scss/media.scss';
