.letter-container {
	font-size: 2.625rem;

	.letter {
		padding-top: 9.75rem;

		h2 {
			@include font($font-size: 2.625rem, $font-weight: bold);

			margin-bottom: 5.1875rem;
		}
	}

	p:not(:last-child) {
		margin-bottom: 3.125rem;
	}

	.sign {
		margin-top: 5.75rem;
		margin-left: -7.3125rem;
		width: 33.4375rem;
	}
}
