.remember-me {
	input[type="checkbox"] {
		display: none;
	}

	label {
		cursor: pointer;
	}

	label::after {
		content: " ";
		display: inline-block;
		text-align: center;
		width: 0.75rem;
		height: 0.75rem;
		border: 0.0625rem solid $main-border-color;
		vertical-align: middle;
	}

	input:checked + label::after {
		content: '✓';
		font-size: 0.8rem;
		line-height: 0.75rem;
	}
}
