.navigation {
	display: none;

	.nav-item {
		@include flex($align-items: center);

		color: $white-color;
		margin-left: 13.375rem;
		width: 4.4375rem;

		&:not(:first-child) {
			margin-left: 2.1875rem;
		}

		img {
			@include sizes($width: 0.3125rem);

			opacity: 0;
			margin-right: 0.25rem;
		}

		&:hover {
			color: $main-text-color;
			font-weight: 800;

			img {
				opacity: 1;
			}
		}
	}
}
