@media screen and (min-height: 320px) and (min-width: 500px) {
	.menu-box {
		.menu-links {
			.links
			{
				@include flex;

				.menu-item {
					margin-top: 2rem;
				}
			}
		}

		.button-container {
			margin-top: 2rem;
		}
	}
}

@media screen and (min-height: 411px) and (min-width: 500px) {
	.menu-box {
		.menu-links {
			.links
			{
				@include flex;

				.menu-item {
					margin-top: 2rem;
				}
			}
		}

		.button-container {
			margin-top: 4rem;
		}
	}
}

@media screen and (min-height: 411px) {
	.our-team-container #jorge-jones:checked ~ .our-team-content {
		height: 46.875rem;
	}
}

@media screen and (min-width: 468px) {
	.our-team-container {
		#jorge-jones {
			&:checked ~ .our-team-content .info-about-team .staff-biography .jorge-jones-biography h2 {
				margin-left: 9.125rem;
			}
		}

		.our-team-content {
			.info-about-team {
				.photo-team {
					label {
						&:first-child {
							@include flex;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 576px) {
	#contact-active {
		&:checked ~ .contact-form .form .image-close {
			margin-top: 2.375rem;
			margin-left: 0;
			right: 0;
		}

		&:checked ~ .menu-button-close {
			@include position($right: 2.375rem, $position: absolute);
			@include position($left: 49vw, $right: 0, $position: absolute);
		}

		&:checked ~ .menu-box {
			@include sizes($height: 100%, $width: 61vw);
		}
	}

	.contact-form {
		.form {
			border-radius: 0.25rem;
			padding: 0 2.75rem 4rem 2.75rem;
			margin-top: 4.75rem;

			label:first-child {
				@include flex($justify-content: flex-end);

				.image-close {
					margin-top: 4.3125rem;
					margin-left: 0;
					margin-right: 10px;
				}
			}

			& > span {
				font-size: 2rem;
				margin-top: 0;
				text-transform: unset;

				span {
					text-transform: capitalize;
				}
			}

			& > p {
				margin-top: 1rem;
				margin-bottom: 2rem;
				width: 26.1875rem;
			}
		}
	}

	#menu, #close {
		&:checked ~ .header-container {
			z-index: 0;
		}

		&:checked ~ .our-team-container .our-team-content .info-about-team {
			z-index: -1;
		}
		
		&:checked ~ .opacity {
			@include position($left: 0, $top: 0%, $position: absolute);

			background-color: rgba($color: #222, $alpha: 0.8);
			z-index: 1;
		}

		&:checked ~ .menu-button-close {
			@include position($right: 2.375rem, $position: absolute);
			@include position($left: 49vw, $right: 0, $position: absolute);
		}

		&:checked ~ .menu-box {
			@include sizes($height: 100%, $width: 61vw);
		}
	}

	#close {
		&:checked ~ .header-container {
			z-index: 1;
		}

		&:checked ~ .our-team-container .our-team-content .info-about-team {
			z-index: 0;
		}

		&:checked ~ .opacity {
			@include position($left: 0, $top: -100%, $position: absolute);

			background-color: rgba($color: #222, $alpha: 0.8);
			z-index: 0;
		}
	}

	.opacity {
		@include position($left: 0, $top: -100%, $position: absolute);
	}

	.menu-box {
		@include sizes($height: 100%, $width: 61vw);

		padding: 4rem 2rem;
	}

	.intorduction-container {
		background-image: url('../../images/introduction-container/beard-tablet.png');

		.intorduction-content {
			padding: 8.375rem 0 2.8125rem 2.125rem;

			img {
				@include sizes($width: 25rem);

				margin-bottom: 0.875rem;
			}

			p {
				width: 25rem;
				margin-bottom: 1.625rem;
			}

			a {
				@include sizes($width: 10.3125rem);
			}
		}
	}

	.services-container {
		.services-content{
			.services-proposition {
				@include flex($flex-direction: column, $flex-wrap: wrap);
				@include sizes($height: 22.3125rem, $width: 100%);
			}
		}
	}
}

@media screen and (min-width: 610px) {
	.our-team-container {
		#jorge-jones {
			&:checked ~ .our-team-content .info-about-team .staff-biography .jorge-jones-biography {
				margin-left: 8.6rem;

				h2 {
					margin-left: 0;
				}
			}
		}

		#yoda {
			&:checked ~ .our-team-content .info-about-team .staff-biography .yoda-biography {
				margin-left: 8.6rem;
				
				h2 {
					margin-left: 8.6rem;
				}
			}
		}

		.our-team-content {
			.info-about-team {
				.photo-team {
					label {
						&:nth-child(3) {
							@include flex;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (min-height: 576px) {
	#contact-active {
		&:checked ~ .contact-form .form .image-close {
			margin-top: 2.375rem;
			margin-left: 0;
			right: 0;
		}

		&:checked ~ .menu-box .menu-button-close {
			@include position($top: 2.375rem, $right: 2.375rem, $position: absolute);
		}

		&:checked ~ .menu-box {
			@include sizes($height: 100%, $width: 46vw);
		}
	}

	.contact-form {
		.form {
			@include sizes($width: 43rem);

			margin-top: 6.75rem;
		}
	}

	#menu, #close {
		&:checked ~ .opacity {
			@include position($left: 0, $top: 0%, $position: absolute);

			background-color: rgba($color: #222, $alpha: 0.8);
			z-index: 1;
		}

		&:checked ~ .menu-box .menu-button-close {
			@include position($top: 2.375rem, $right: 2.375rem, $position: absolute);
		}

		&:checked ~ .menu-box {
			@include sizes($height: 100%, $width: 46vw);
		}
	}

	#close {
		&:checked ~ .opacity {
			@include position($left: 0, $top: -100%, $position: absolute);

			background-color: rgba($color: #222, $alpha: 0.8);
			z-index: 0;
		}
	}

	.menu-box {
		@include sizes($height: 100%, $width: 46vw);

		.menu-links {
			.links
			{
				@include flex($flex-direction: column);
			}
		}

		.button-container {
			margin-top: 13.9375rem;
		}
	}

	.header-container {
		.header-content {
			padding: 2.375rem 2.125rem;
		}
	}

	.home {
		@include sizes($height: 6.25rem, $width: 100%);
	}

	.text-services-container {
		.text-services-content {
			.services {
				@include flex($align-items: center, $justify-content: center);

				padding: 4rem 0 1.5rem ;

				span {
					font-size: 2rem;
					text-transform: capitalize;
				}
			}
		}
	}

	.services-container {
		.services-content{
			.services-proposition {
				@include flex($flex-direction: column, $flex-wrap: wrap);
				@include sizes($height: 29.3125rem, $width: 100%);

				padding: 2.75rem 0 4rem 2rem;

				.services-item {
					&:not(:last-child) {
						margin-bottom: 3.8125rem;
					}

					&:nth-child(3) {
						margin-bottom: 0;
					}

					img {
						@include sizes($width: 4.3125rem);
	
						margin-right: 0;
					}

					.proposition {
						@include flex($flex-direction: column);
	
						color: $white-color;
	
						& > span:first-child {
							font-size: 2rem;
							font-weight: bold;
							text-transform: unset;
						}

						.bold {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.our-team-container {
		#darth-vader {
			@include common-biography($biography: 1, $margin-right: 5.25rem, $margin-right-other: 0.5rem, $scale: 1.462, $magin-top: 9rem, $max-height: 49.875rem);
		}

		#jorge-jones {
			@include common-biography($biography: 2, $margin-right: 5.25rem, $margin-right-other: 0.5rem, $scale: 1.462, $magin-top: 9rem, $max-height: 49.875rem);
		}

		#yoda {
			@include common-biography($biography: 3, $margin-right: 5.25rem, $margin-right-other: 0.5rem, $scale: 1.462, $magin-top: 9rem, $max-height: 49.875rem);
		}

		#darth-sidious {
			@include common-biography($biography: 4, $margin-right: 5.25rem, $margin-right-other: 0.5rem, $scale: 1.462, $magin-top: 9rem, $max-height: 49.875rem);

			&:checked ~ .our-team-content .info-about-team .staff-biography div:nth-child(4) {
				margin-left: 15.5rem;
				
				h2 {
					margin-left: 10.4rem;
				}
			}
		}

		.our-team-content {
			padding: 4rem 2.5rem;

			.our-team {
				span {
					font-size: 2rem;
					text-transform: capitalize;
				}
			}
			
			.info-about-team {
				margin: 0 auto;
				margin-top: 2.5625rem;
				
				.photo-team {
					label {
						&:nth-child(4) {
							@include flex;
						}
					}
				}

				.staff-biography {
					div {
						h2 {
							margin-top: 2.5rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1325px) {
	.wrapper {
		width: 1325px;
	}

	#contact-active {
		&:checked ~ .contact-form .form .image-close {
			margin-right: -2.6875rem;
		}
	}
	
	.contact-form {
		.form {
			@include sizes($width: 53.25rem);

			margin-top: 12.5rem;
			padding: 0 7.875rem 4rem 7.875rem;

			.image-close {
				margin-right: -2.6875rem;
			}

			& > span {
				font-size: 2rem;
				text-transform: unset;

				span {
					text-transform: capitalize;
				}
			}

			& > p {
				width: 26.1875rem;
				margin-bottom: 4rem;
			}
		}
	}
	
	.opacity {
		display: none;
	}

	.header-container {
		margin: 0 auto;
		z-index: 2;

		.header-content {
			@include flex($align-items: center, $justify-content: flex-start);

			padding: 1.375rem 3.625rem;

			.logo {
				@include flex;
			}

			.menu-button {
				display: none;
			}

			.navigation {
				@include flex;
			}

			.union {
				@include flex($align-items: center);

				margin-left: 8rem;
			}

			.desktop-button-container {
				@include flex;
			}
		}
	}

	.home {
		@include sizes($height: 6.0625rem, $width: 100%);
	}

	.intorduction-container {
		background-image: url('../../images/introduction-container/beard.png');

		.intorduction-content {
			padding: 13.0625rem 0 19.4375rem 3.5rem;
			margin: 0 auto;

			img {
				@include sizes($width: 37.5rem);

				margin-bottom: 4.5rem;
			}

			p {
				@include sizes($width: 37.5rem);
			
				font-size: 2rem;
				margin-bottom: 3.75rem;
			}

			a {
				@include sizes($width: 10.3125rem);
			}
		}
	}

	.salon-background {
		@include flex;
	}

	.text-services-container {
		.text-services-content {
			.services {
				@include flex($align-items: center, $justify-content: center);

				padding: 10rem 0 2.75rem;

				span {
					z-index: 1;
					font-size: 4rem;
					text-transform: capitalize;
				}
			}
		}
	}

	.services-container {
		.services-content{
			.services-proposition {
				@include flex($flex-direction: column, $flex-wrap: wrap);
				@include sizes($height: 25rem, $width: 100%);

				padding: 6.25rem 3.75rem;

				.services-item {
					&:nth-child(odd) {
						margin-bottom: 2.6rem;
					}

					&:nth-child(even) {
						margin-bottom: 0;
					}

					&:not(:nth-child(-n + 2)) {
						margin-left: 8.75rem;
					}

					img {
						@include sizes($width: 4.3125rem);
	
						margin-right: 0;
						z-index: 1;
					}

					.proposition {
						@include flex($flex-direction: column);
	
						color: $white-color;

						span {
							z-index: 1;
						}
	
						& > span:first-child {
							font-size: 2rem;
							font-weight: bold;
							text-transform: unset;
						}

						.bold {
							font-weight: bold;
						}
					}
				}
			}
		}
	}

	.our-team-container {
		#darth-vader {
			@include common-biography($biography: 1, $margin-right: 5.6rem, $margin-right-other: 0.5rem, $scale: 1.516, $magin-top: 2.5rem, $max-height: 49.875rem);
		
			&:checked ~ .our-team-content .info-about-team .staff-biography div:nth-child(1) {
				margin-left: 6rem;
				
				h2 {
					margin-left: 0rem;
				}
			}
		}

		#jorge-jones {
			@include common-biography($biography: 2, $margin-right: 5.6rem, $margin-right-other: 0.5rem, $scale: 1.516, $magin-top: 2.5rem, $max-height: 49.875rem);
			
			&:checked ~ .our-team-content .info-about-team .staff-biography div:nth-child(2) {
				margin-left: 6rem;
				
				h2 {
					margin-left: 0rem;
				}
			}
		}

		#yoda {
			@include common-biography($biography: 3, $margin-right: 5.6rem, $margin-right-other: 0.5rem, $scale: 1.516, $magin-top: 2.5rem, $max-height: 49.875rem);
			
			&:checked ~ .our-team-content .info-about-team .staff-biography div:nth-child(3) {
				margin-left: 6rem;
				
				h2 {
					margin-left: 0rem;
				}
			}
		}

		#darth-sidious {
			@include common-biography($biography: 4, $margin-right: 5.6rem, $margin-right-other: 0.5rem, $scale: 1.516, $magin-top: 2.5rem, $max-height: 49.875rem);

			&:checked ~ .our-team-content .info-about-team .staff-biography div:nth-child(4) {
				margin-left: 6rem;
				
				h2 {
					margin-left: 0rem;
				}
			}
		}

		.our-team-content {
			padding: 16.5625rem 3.625rem 6.25rem 3.625rem;

			.our-team {				
				img {
					@include sizes($width: 1.3125rem);
	
					margin-right: 1.5rem;
				}

				span {
					font-size: 4rem;
					text-transform: unset;
				}
			}
			
			.info-about-team {
				@include flex($align-items: flex-end, $flex-direction: row);
			
				margin: 0;
				margin-top: 2.5625rem;
				max-width: 43.5rem;
				
				.photo-team {
					label {
						@include sizes($height: 12.5rem, $width: 8.125rem);
						
						margin-right: 0.5rem;

						.staff {
							@include sizes($height: 12.5rem, $width: 8.125rem);
						}

						&:nth-child(4) {
							@include flex;
						}
					}
				}

				.staff-biography {
					position: relative;
					margin-bottom: 19.3rem;

					div {
						width: 27.5625rem;

						h2 {
							font-size: 2rem;
							margin-top: 2.5rem;
						}
						
						span {
							&:nth-child(2) {
								margin-top: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
}
