@media screen and (min-width: 320px) {
	html {
		font-size: 0.3rem;
	}
}

@media screen and (min-width: 450px) {
	.main-info-container {
		.web-links {
			margin: 0;
		}
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 0.4rem;
	}
}

@media screen and (min-width: 1000px) {
	html {
		font-size: 0.6rem;
	}
}

@media screen and (min-width: 4000px) {
	html {
		font-size: 1rem;
	}

	.container-lg {
		max-width: 2000px;
	}
}
