@mixin flex($align-items: flex-start, $flex-direction: row, $flex-wrap: nowrap, $justify-content: flex-start) {
	align-items: $align-items;
	display: flex;
	flex-direction: $flex-direction;
	flex-wrap: $flex-wrap;
	justify-content: $justify-content;
}