@mixin flex($align-items: flex-start, $flex-direction: row, $justify-content: flex-start) {
	align-items: $align-items;
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
}