.menu-links {
	@include flex($flex-direction: column);

	img {
		@include sizes($width: 6.875rem);
	}

	.menu-item {
		@include flex($align-items: center);

		margin-left: 1.9375rem;
		width: 4.4375rem;

		&:not(:first-child) {
			margin-top: 2rem;
		}

		&:nth-child(1) {
			margin-top: 2.75rem;
		}
	
		img {
			@include sizes($width: 0.3125rem);

			opacity: 0;
			margin-right: 0.25rem;
		}

		&:hover {
			color: $main-text-color;
			font-weight: 800;

			img {
				opacity: 1;
			}
		}
	}
}	
