@media screen and (min-width: 270px) {
	html {
		font-size: 0.57rem;
	}
}

@media screen and (min-width: 320px) {
	html {
		font-size: 0.5rem;
	}
}

@media screen and (min-width: 360px) {
	html {
		font-size: 0.57rem;
	}

	body {
		.possibilities-container {
			.possibilities-content {
				.possibilities-item {
					margin-right: 4.3rem;
				}
			}
		}

		.video-container {
			.video-content {
				.video-button {
					padding: 2.75rem 12.4rem;
				}
			}
		}
	}
}

@media screen and (min-width: 410px) {
	html {
		font-size: 0.68rem;
	}

	body {
		.possibilities-container {
			.possibilities-content {
				.possibilities-item {
					margin-right: 2.7rem;
				}
			}
		}

		.video-container {
			.video-content {
				.video-button {
					padding: 2.75rem 11.5rem;
				}
			}
		}
	}
}

@media screen and (min-width: 560px) {
	html {
		font-size: 0.91rem;
	}

	body {
		.possibilities-container {
			.possibilities-content {
				.possibilities-item {
					margin-right: 3.3rem;
				}
			}
		}

		.video-container {
			.video-content {
				.video-button {
					padding: 2.75rem 12rem;
				}
			}
		}
	}
}

@media screen and (min-width: 640px) {
	html {
		font-size: 1rem;
	}

	body {
		.possibilities-container {
			.possibilities-content {
				.possibilities-item {
					margin-right: 4rem;
				}
			}
		}

		.video-container {
			.video-content {
				.video-button {
					padding: 2.75rem 12.8rem;
				}
			}
		}
	}
}

@media screen and (min-width: 720px) {
	html {
		font-size: 1.16rem;
	}

	body {
		.possibilities-container {
			.possibilities-content {
				.possibilities-item {
					margin-right: 3.7rem;
				}
			}
		}

		.video-container {
			.video-content {
				.video-button {
					padding: 2.75rem 12.4rem;
				}
			}
		}
	}
}

@media screen and (min-width: 810px) {
	html {
		font-size: 1.27rem;
	}

	body {
		.possibilities-container {
			.possibilities-content {
				.possibilities-item {
					margin-right: 4rem;
				}
			}
		}

		.video-container {
			.video-content {
				.video-button {
					padding: 2.75rem 12.8rem;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 7px;
	}

	.container {
		width: 1000px;
	}

	body {
		header {
			.header {
				box-shadow: unset;
				padding: 4.375rem 0;
	
				.hamburger-menu {
					display: none;
				}
	
				.right-header-container {
					.menu-container {
						@include flex($align-items: center, $justify-content: center);
					}
	
					.header-button {
						@include flex($align-items: center, $justify-content: center);		
					}
				}
			}	
		}

		.product-container {
			padding-top: 13.4371rem;

			.product-description {
				padding-left: 6.25rem;

				& > span:first-child {
					display: inline;
				}

				h1 {
					font-size: 5.375rem;
					margin-top: 0.75rem;
				}

				.nutrion {
					font-size: 2.79rem;
					margin-top: 1.625rem;
				}

				.positive-properties {
					@include flex($flex-direction: column);
		
					& .properties:first-child {
						margin-top: 4.8125rem;
					}
		
					& .properties:not(:first-child) {
						margin-top: 2.1rem;
					}
		
					.properties {
						@include flex;
		
						& img {
							height: auto;
							width: 3.8125rem;
						}
		
						& span {
							font-size: 2.25rem;
							margin-left: 3.25rem;
						}
					}
				}

				.product-image {
					top: 0;
					right: 0;
					margin: 3.75rem 4.375rem 0 0;
					position: absolute;
					width: 49.125rem;
				}

				.button-container {
					margin-left: 0;
					margin-top: 4.5625rem;
				}

			}
		}

		.possibilities-container {
			.possibilities-content {
				padding-left: 6.25rem;
				padding-right: 18.8125rem;
				margin-top: 14.6875rem;

				.possibilities-item {
					margin: 0;

					&:not(:first-child) {
						@include flex($align-items: center, $justify-content: center);
					}
				}
			}
		}

		.revolution-container {
			@include flex($align-items: center, $flex-direction: column);
		}

		.video-container {
			@include flex;

			.video {
				height: 59.5625rem;
				padding-bottom: 5.0625rem;
				padding-right: 5.875rem;
				width: calc(100% / 2);
			}

			.video-content {
				padding: 19rem 0 0 10.9375rem;
				width: calc(100% / 2);

				h3 {
					font-size: 3.75rem;
				}

				p {
					font-size: 2.25rem;
					width: 55.3125rem;
				}

				.video-button {
					font-size: 1.5rem;
					padding: 2.75rem 8rem;
					margin: 0;
					margin-top: 4.5625rem;
				}
			}
		}
	}
}

@media screen and (min-width: 1300px) {
	body {
		.revolution-container {
			@include flex($align-items: center, $flex-direction: column);
		}
	}
}

@media screen and (min-width: 1600px)
{
	html {
		font-size: 0.625rem;
	}

	.container {
		width: 1500px;
	}
}

@media screen and (min-width: 2220px)
{
	html {
		font-size: 0.9375rem;
	}

	.container {
		width: 2220px;
	}
}

@media screen and (min-width: 3500px)
{
	html {
		font-size: 1.4375rem;
	}

	.container {
		width: 3500px;
	}
}