@media screen and (min-width: 270px) {
	html {
		font-size: 0.57rem;
	}
}

@media screen and (min-width: 320px) {
	html {
		font-size: 0.5rem;
	}
}

@media screen and (min-width: 360px) {
	html {
		font-size: 0.57rem;
	}
}

@media screen and (min-width: 420px) {
	html {
		font-size: 0.68rem;
	}
}

@media screen and (min-width: 560px) {
	html {
		font-size: 0.91rem;
	}
}

@media screen and (min-width: 640px) {
	html {
		font-size: 1rem;
	}
}

@media screen and (min-width: 720px) {
	html {
		font-size: 1.16rem;
	}

	body {
		.pre-footer-container {
			.pre-footer-content {
				.share-container {
					& > span {
						width: 32.875rem;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 810px) {
	html {
		font-size: 1.27rem;
	}

	body {
		.pre-footer-container {
			.pre-footer-content {
				.share-container {
					& > span {
						width: 29.875rem;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 7px;
	}

	.container {
		width: 1000px;
	}

	body {
		header {
			.header {
				box-shadow: unset;
				padding: 4.375rem 0;
	
				.hamburger-menu {
					display: none;
				}
	
				.right-header-container {
					.menu-container {
						@include flex($align-items: center, $justify-content: center);
					}
	
					.header-button {
						@include flex($align-items: center, $justify-content: center);		
					}
				}
			}	
		}

		.product-container {
			padding-top: 13.4371rem;

			.product-description {
				padding-left: 6.25rem;

				& > span:first-child {
					display: inline;
				}

				h1 {
					font-size: 5.375rem;
					margin-top: 0.75rem;
				}

				.nutrion {
					font-size: 2.79rem;
					margin-top: 1.625rem;
				}

				.positive-properties {
					@include flex($flex-direction: column);
		
					& .properties:first-child {
						margin-top: 4.8125rem;
					}
		
					& .properties:not(:first-child) {
						margin-top: 2.1rem;
					}
		
					.properties {
						@include flex;
		
						& img {
							height: auto;
							width: 3.8125rem;
						}
		
						& span {
							font-size: 2.25rem;
							margin-left: 3.25rem;
						}
					}
				}

				.product-image {
					top: 0;
					right: 0;
					margin: 3.75rem 4.375rem 0 0;
					position: absolute;
					width: 49.125rem;
				}

				.button-container {
					margin: 0;
					margin-top: 4.5625rem;
					width: auto;

					.product-button {
						padding: 2.125rem 8.7rem;
						width: auto;
					}
				}

			}
		}

		.possibilities-container {
			.possibilities-content {
				padding-left: 6.25rem;
				padding-right: 14.8125rem;
				margin-top: 14.6875rem;

				.possibilities-item {
					margin: 0;

					&:not(:first-child) {
						@include flex($align-items: center, $justify-content: center);
					}
				}
			}
		}

		.revolution-container {
			@include flex($align-items: center, $flex-direction: column);
		}

		.video-container {
			@include flex;

			.video {
				height: 59.5625rem;
				padding-bottom: 5.0625rem;
				padding-right: 5.875rem;
				width: calc(100% / 2);
			}

			.video-content {
				padding: 19rem 0 0 10.9375rem;
				width: calc(100% / 2);

				h3 {
					font-size: 3.75rem;
				}

				span {
					font-size: 2.25rem;
					width: 55.3125rem;
				}

				.video-button {
					font-size: 1.5rem;
					margin: 0;
					margin-top: 4.5625rem;
					width: 26.375rem;
				}
			}
		}

		.ingredients-container {
			.ingredients-content {
				@include flex($align-items: center, $flex-direction: column);

				padding-bottom: 18.5rem;

				& > h3 {
					font-size: 3.75rem;
					margin-top: 9.625rem;
				}

				& > span {
					font-size: 1.9375rem;
				}

				.ingredients {
					@include flex($justify-content: center);
					margin-top: 5.625rem;

					& > img {
						margin-left: 0.78125rem;
						width: 36.125rem;
					}

					.ingredients-characteristics {
						@include flex($flex-direction: row-reverse, $justify-content: space-around);

						margin-top: 11.125rem;

						.first-part, .second-part {
							margin-left: 28rem;

							.characteristic {
								font-size: 2.4375rem;
								width: 32.625rem;

								.title {
									margin-bottom: 2.625rem;
		
									.border {
										border-radius: 0.75rem;
										height: 4.375rem;
										width: 0.875rem;
									}
								}

								p {
									font-size: 1.8rem;
									width: auto;
								}

								&:nth-child(even) {
									margin-top: 8.5rem;
								}
							}
						}

						.second-part {
							margin-left: 0;
							margin-right: 28rem;

							.characteristic {
								@include flex($align-items: flex-end, $flex-direction: column);

								.title {
									@include flex($flex-direction: row-reverse);
								}

								p {
									text-align: right;
								}
							}

							.hidden-characteristic {
								@include flex($align-items: flex-end, $flex-direction: column);
							}
						}
					}
				}
			}
		}

		.order-container {
			.order-content {
				@include flex($align-items: flex-end, $justify-content: space-between);

				padding-bottom: 10.625rem;
				padding-top: 13.875rem;

				.click {
					@include flex;
				}

				.payment {

					.form-title {
						font-size: 3.125rem;
						
						.location {
							height: 5rem;
							width: 5rem;
						}
					}

					.form-payment {
						margin-top: 3.6875rem;

						label {
							p {
								font-size: 1.9375rem;
							}

							input, select {
								font-size: 1.9375rem;
								width: 58rem;
							}
						}

						.town-info {
							input {
								width: 16rem;
							}
						}

						.town-info {
							input {
								width: 27.7rem;
							}
		
							& label:last-child {
								margin-left: 2.75rem;
							}
						}

						button {
							font-size: 1.75rem;
							padding: 2.625rem 22.3rem;
						}
					}
				}

				.flower {
					@include flex;
				}
			}
		}

		.news-container {
			@include flex($justify-content: center);
			.news-content {
				padding: 10.25rem 0;
		
				& > img {
					display: block;
					left: 0;
					margin-top: 6.5rem;
				}

				& > img:nth-child(2) {
					bottom: -4.7rem;
					left: 15rem;
					margin: 0;
				}
		
				.news {
					@include flex($align-items: center, $flex-direction: column);
		
					h3 {
						font-size: 3.125rem;
						margin-bottom: 5.625rem;
					}
		
					label {
						width: 64.375rem;
					}

					.subscribe-container {
						border: 0.1rem solid #dbd7d7;
						padding: 0.625rem 0.75rem 0.625rem 3.125rem;
						margin-bottom: 4.25rem;
		
						input[type="text"] {
							font-size: 1.8125rem;
						}
		
						input[type="button"] {
							padding: 1.875rem 3rem;
						}
					}
				}
			}
		}
		
		.pre-footer-container {
			.pre-footer-content {
				@include flex($align-items: center, $flex-direction: row, $justify-content: space-between);

				padding: 13rem 0 9.375rem;

				.share-container {
					.pre-logo-container {
						margin-bottom: 5.25rem;
					}

					& > span {
						margin-bottom: 6rem;
					}
				}

				.pre-footer-nav {
					width: auto;

					.nav-item {
						&:first-child {
							margin-bottom: 0;
							margin-right: 12.375rem;
						}

						&:last-child {
							margin-left: 8.625rem;
							margin-right: 14.625rem;
						}

						h3 {
							margin-bottom: 3.125rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1300px) {
	body {
		.revolution-container {
			.map {
				width: 84.5rem;
			}
		}
	}
}

@media screen and (min-width: 1600px)
{
	html {
		font-size: 0.625rem;
	}

	.container {
		width: 1500px;
	}

	body {
		.possibilities-container {
			.possibilities-content {
				padding-right: 10.8125rem;
			}
		}
	}
}

@media screen and (min-width: 2220px)
{
	html {
		font-size: 0.9375rem;
	}

	.container {
		width: 2220px;
	}
}

@media screen and (min-width: 3500px)
{
	html {
		font-size: 1.4375rem;
	}

	.container {
		width: 3500px;
	}
}